@model IEnumerable<Login.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <img src="~/Photos/Dubin.jpg"
/>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)
        </td>
        <td>
           
            
            <img src="@Url.Content(@item.Photos)" width="150" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
        <td>
            @Html.ActionLink("Location", "Map", "Map") |
            @Html.ActionLink("Weather", "Weather", "Weather") |
        </td>
        </td>
    </tr>
    }

</table>
