@model IEnumerable<Login.Models.Location>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    <br />
    @Html.ActionLink("Mail to Admin", "Index", "Email")

</p>
<table class="table">
    <tr>
        <th>
                        Id
        </th>
        <th>
            Place
        </th>
        <th>
            County
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Place
            </td>
            <td>
                @item.County
            </td>
            <td>
                @Html.ActionLink("Location", "Map", "Map") |
                @Html.ActionLink("Weather", "Weather", "Weather") |
            </td>
        </tr>

    }
